.form {
    display: flex;
    flex-direction: column;
   margin-left: 300px;
    width: 500px;
    height: 400px;

}

.form_text{
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    color: transparent;
    background-image: linear-gradient(to left, blueviolet, blue, gray, fuchsia);    
    background-clip: text;
    animation: color 10s linear infinite;
    background-size: 500%;    
    
}

@keyframes color {
    from {
        background-position: 0% 50%;
    }

    to {
        background-position: 100% 50%;
    }
}
.form_campo {
    margin: 10px;
    padding: 10px;
}

.form_button {
    background-color: blueviolet;
    border: transparent;
    color: aliceblue;
    width: 100px;
    border-radius: 3px;
    height: 50px;
    margin-left: 200px;
    font-family: 'Fredoka', sans-serif;
  }

.form_div {
    text-align: center;
    
}

.form_map {
    list-style: none;
    color: blueviolet;
    display: flex;
    flex-direction: row;
    
}

.form_list {
    padding-left: 80px;
    font-family: 'Fredoka', sans-serif;
}

.form_img {
    width:50px ;
    height:50px ;
    border-radius: 80px;
    box-shadow:  0 0 20px blue;
    transition: 2s;
}


