.alert {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items:stretch;
    font-size: larger;
    font-weight: bold;
    width: 350px;
    height: 200px;
    margin-left: 450px;
    margin-top: 200px;
    padding: 10px 20px;
    color: black;
    border-radius: 20px; 
    box-shadow:  0 0 20px blue; 
}

.violet {
    background-image: url("../../../public/3.png"); 
}

.red {
    background-image: url("../../../public/4.png"); 
}
